.dataTable {
  max-height: 360px;
  overflow-y: auto;
}

table {
  width: 45rem;
}

table,
th,
td {
  border: 1px solid whitesmoke;
  border-collapse: collapse;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: rgb(80, 10, 85);
  font-size: larger;
}

td {
  background-color: rgba(245, 245, 245, 0.555);
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
